<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submit</title>

</head>
<body>
    <h2>
        Please enter required information:
    </h2>
    <form action="/predict" method="post">
        <label for="variance">variance:</label><br>
        <input type="text" id="variance" name="variance" value="0"><br><br>
        <label for="skewness">skewness:</label><br>
        <input type="text" id="skewness" name="skewness" value="0"><br><br>
        <label for="curtosis">curtosis:</label><br>
        <input type="text" id="curtosis" name="curtosis" value="0"><br><br>
        <label for="entropy">entropy:</label><br>
        <input type="text" id="entropy" name="entropy" value="0"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p> <h3>pleaase press "submit" to check note authentication</h3></p>
</body>
</html>